AUTH_SERVICE_PORT=8001
VAULT_SERVICE_PORT=8002
SCAN_SERVICE_PORT=8003
API_GATEWAY_PORT=8000

AUTH_SERVICE_URL=http://auth-service:8001
VAULT_SERVICE_URL=http://vault-service:8002
SCAN_SERVICE_URL=http://scan-service:8003

PROMETHEUS_PORT=9090
GRAFANA_PORT=3000
LOKI_PORT=3100
ALERTMANAGER_PORT=9093

DEFAULT_LATENCY_MS=40
LATENCY_JITTER_MS=80
ERROR_RATE=0.03

FAILED_LOGIN_SPIKE_MULTIPLIER=1
TOKEN_FAILURE_SPIKE_MULTIPLIER=1
SCAN_BACKLOG_SPIKE_MULTIPLIER=1
VAULT_DEPENDENCY_FAILURE=0
MEMORY_PRESSURE_ENABLED=0
